@import "tailwindcss";

@theme {
  --color-background-custom: #f8faff;
  --color-text-custom: #1e293b;
}

body {
  background-color: var(--color-background-custom);
  color: var(--color-text-custom);
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}